body {
	background-color: white;
}
h1 {
	color: #d8bfd1; font-family: verdana;
	font-size: 300%
}
p {
	color: rgb(143, 141, 141); font-family: courier;
	font-size: 140%
}

	  /* Style the video: 100% width and height to cover the entire window */
/* #myVideo {
	position: top;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: 0;
} */

/* Add some content at the bottom of the video/page */
.container {
	position:top; 
}
.container video {
	position:relative;
	right: 0;
	/* bottom: 0; */
	min-width: 100%;
	/* min-height: 100%; */
	width: auto;
	/* height: auto; */
	z-index:0;
}
.content {
	position: absolute;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	color: #f1eaea;
	width: 100%;
	padding: 20px;
	z-index: 2;
}

.content2 {
	/* position: fixed; */
	bottom: 0;
	background: rgb(250, 249, 249);
	color: #070707;
	width: 100%;
	padding: 20px;
	z-index: 0;
	h1 {text-align: center;}
	h2 {text-align: center;}
	h3 {text-align: center;}
	p {text-align: center;
		margin-left: 30%;
		margin-right: 30%;}
	div {
		text-align: center;
	}
	}